.featured {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;

  &__item {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
  }

  &__img {
    width: 100%;
    object-fit: cover;
  }

  &__description {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  &__title {
    color: white;
  }

  &__text {
    color: white;
  }
}
