.search-form {
  max-width: 1024px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
  border: 3px solid #febb02;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: -20px;

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
  }

  &__input {
    border: none;
  }

  &__text {
    cursor: pointer;
    color: #474747;
  }

  &__date-picker {
    position: absolute;
    top: 43px;
    z-index: 2;
  }

  &__btn {
    background-color: #0071c2;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;

    &:hover {
      background-color: rgb(0, 79, 196);
      transition: 0.8s;
    }
  }
}
