@import "../variables";

.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__item {
    box-sizing: border-box;

    &-link {
      display: flex;
      gap: 10px;
      align-items: center;
      padding: 7px;
    }

    span {
      color: white;
    }

    & a:hover {
      background-color: rgb(0, 79, 196);
      border-radius: 100px;
    }

    & a.active {
      background-color: rgb(0, 79, 196);
      border-radius: 100px;
      border: 1px solid white;
    }
  }
}
